QLineEdit
{
	border: 0px;
	color:rgba(255,255,255,255);
	padding: 5px;
	background-color:rgba(0,0,0,0);
	background-image:url(:/img/combo_login);
	lineedit-password-character:9632;
	font: normal 10px "Ubuntu";
}